html,body{
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #f5f8fa;
}

a{
  text-decoration: none;
}

.container{
  max-width: 1180px;
  margin: 0 auto;
}

.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-heading{
  color: #484848;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.heading-desc{
  font-size: 12px;
  font-weight: normal;
  padding-left: 10px;
  color: #4a4a4a;
}

.heading-section{
  padding: 75px 0 45px 0;
}

.card{
  max-width: 570px;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  border: solid 1px #d8eaff;
  margin-bottom: 40px;
}

.card-header{
  max-height : 242px;
  /* overflow: hidden; */
  position: relative;
}

.card-header:before{
  content: '';
  background: rgba(0,0,0,.3);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.card-img{
  height: 242px;
  width: 100%;
}

.flag{
  display: inline-block;
  background: #63aaf8;
  color: #fff;
  padding: 4px 10px;
  position: relative;
  z-index: 10;
  font-weight: 300;
  position: absolute;
  right: 0;
  top: -9.5px;
  font-size: 10px;
  text-transform: uppercase;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

.flag::before {
  transform: skewX(-50deg);
}

.flag::after {
  transform: skewX(50deg);
}

.flag::after, .flag::before {
  content: "";
  background: #63aaf8;
  position: absolute;
  width: 20px;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
}

.rating-box{
  border-radius: 3px;
  background-color: #f5a623;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
  text-align: center;
  color: #fff;
  font-weight: 300;
  position: absolute;
  top: 20px;
  right: 23px;
  padding: 8px;
  text-transform: uppercase;
  font-size: 10px;
  min-width: 54px;
  z-index: 2;
}

.rating-main{
  font-size: 18px;
  display: inline-block;
  padding-bottom: 2px;
}

.tags{
  position: absolute;
  left: 18px;
  bottom: 14px;
  z-index: 2;
}

.single-tag{
  opacity: 0.9;
  border-radius: 30px;
  background-color: #ffffff;
  border: solid 1px #e4e4e4;
  color: #4a4a4a;
  font-size: 11px;
  padding: 4px 8px 3px 8px;
  display: inline-block;
  margin-left: 5px;
}

.ranking{
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  position: absolute;
  right: 14px;
  bottom: 16px;
  margin: 0;
  z-index: 2;
}

.card-body{
  padding: 18px 18px 14px 20px;
  display: flex;
  justify-content: space-between;

}

.hotel-name{
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.hotel-name>a{
  color: #4a4a4a;
  padding-right: 10px; 
}

.hotel-name>a:hover{
  text-decoration: none;
  color: #008cff;
}

.address{
  color: #575656;
  line-height: 18px;
  font-size: 12px;
  margin: 0;
  padding-top: 6px;
}

.distance{
  font-size: 12px;
  color: #9b9b9b;
}

.match-percent{
  font-size: 12px;
  margin: 0;
  color: #9b9b9b;
  padding-top: 18px;
}

.color-teal{
  color: #409995;
}

.text-semibold{
  font-weight: 500;
}

.color-dark{
  color: #4a4a4a;
}

.offer{
  /* background: #ccf5e7; */
  /* border-top-right-radius: 60px; */
  /* border-bottom-right-radius: 60px; */
  /* color: #4a4a4a; */
  font-size: 12px;
  /* padding: 9px 21px 7px 20px; */
  display: inline-block;
  padding-top: 12px;
}

.color-link{
  color: #008cff;
  font-weight: bold;
}

/*.hotel-left-section{
  width: 75%;
}*/

.price-section{
  text-align: right;
}

.price-tags{
  display: inline-block;
  margin-left: 10px;
  /*margin-top: 10px;*/
}

.price-tags a{
  float: left;
  position: relative;
  width: auto;
  height: 16px;
  /* margin-left: 18px; */
  padding: 2px 3px 0 8px;
  /* line-height: 30px; */
  background: red;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  text-decoration: none; 
  margin-left: 8px;
}

.price-tags a:before {
  content: "";
  position: absolute;
  top: 0;   
  width: 0;
  height: 0;    
  border-style: solid;    
}

.price-tags a:after {
    content: "";
    position: absolute;
    top: 8px;
    width: 3px;
    height: 3px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    -moz-box-shadow: -1px -1px 2px #004977;
    -webkit-box-shadow: -1px -1px 2px #004977;
    box-shadow: -1px -1px 2px #004977;
  }

.price-tag a {    
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
  }
 
/* Position left and show only right border of triangle  */
.price-tag a:before {   
    left: -9px;  
    border-color: transparent red transparent transparent;
    border-width: 9px 9px 9px 0;
  }
 
/* Fix the circle between anchor box and triangle left to it  */  
  .price-tag a:after {    
    left: 0px;
  }

  .price-striked{
    color: #9b9b9b;
    font-size: 11px;
    display: inline-block;
    vertical-align: text-top;
  }

  .main-price{
    font-size: 24px;
    color: #ea2225;
    font-weight: bold;
    margin: 0;
  }

  .price-detail{
    color: #9b9b9b;
    font-size: 11px;
    margin: 0;
  }

  .facility{
    font-size: 12px;
  }

  .facility:before {
    content: '\2022';
    height: 4px;
    width: 4px;
    padding: 0 4px;
  }

  .facility:first-child:before {
    content: '';
  }

  .facilities{
    /*position: absolute;
    right: 20px;
    bottom: 17px;*/
    /* padding-right: 20px; */
    padding-top: 4px;
    text-align: right;
  }

  .flex{
    display: flex;
    justify-content: space-between;
  }

  /* .extras{
    margin-bottom: 9px;
  } */

  .deal{
    display: inline-block;
    background: #409995;
    color: #fff;
    padding: 4px 10px;
    position: relative;
    z-index: 2;
    /* font-weight: 300; */
    /* position: absolute; */
    /* right: 0; */
    /* top: -9.5px; */
    font-size: 11px;
    text-transform: uppercase;
    margin-right: 16px;
  }
  
  .deal::before {
    transform: skewX(-50deg);
  }
  
  .deal::after {
    transform: skewX(50deg);
  }
  
  .deal::after, .deal::before {
    content: "";
    background: #409995;
    position: absolute;
    width: 12px;
    height: 100%;
    z-index: -1;
    right: 0;
    top: 0;
  }

  .dd-wrapper{
    position: relative;
    min-width: 140px;
    display: inline-block;
    margin-right: 10px;
  }

  .dd-wrapper:last-child{
    margin-right: 0;
  }

  .dd-header{
    /* box-shadow: 0 1px 2px 0 rgba(34,36,38,.15); */
    border: 1px solid #d4d4d4;
    background: #fff;
    vertical-align: middle;
    line-height: 1;
    font-size: 12px;
    padding: .92857143em 1.14285714em;
    color: #575656;
    cursor: pointer;
  }

  .dd-list{
    list-style: none;
    position: absolute;
    z-index: 11;
    background: #fff;
    top: 19px;
    border: 1px solid #d4d4d4;
    padding: 0;
    width: -webkit-fill-available;
    border-top: 0;
  }

  .dd-list-item{
    padding: 5px 1.14285714em;
    border-bottom: 1px solid #eee;
    font-size: 12px;
    cursor: pointer;
  }

  .dd-list-item:hover{
    background: #eaf5fe;
  }

  .img-dropdown{
    width: 10px;
    height: 10px;
    padding-left: 10px;
    float: right;
  }
