html,body{
  font-family: 'Roboto', sans-serif;
}

.container{
  max-width: 1100px;
  margin: 0 auto;
}

.row{
  display: flex;
  justify-content: space-between;
}

.card{
  min-width: 530px;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  border: solid 1px #d8eaff;
}

.card-header{
  max-height : 242px;
  overflow: hidden;
  position: relative;
}

.card-img{
  height: 242px;
  width: 100%;
}

.rating-box{
  border-radius: 3px;
  background-color: #f5a623;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
  text-align: center;
  color: #fff;
  position: absolute;
  top: 20px;
  right: 23px;
  padding: 8px;
  text-transform: uppercase;
  font-size: 10px;
}

.rating-main{
  font-size: 18px;
  display: inline-block;
  padding-bottom: 2px;
}

.tags{
  position: absolute;
  left: 18px;
  bottom: 11px;
}

.single-tag{
  opacity: 0.9;
  border-radius: 30px;
  background-color: #ffffff;
  border: solid 1px #e4e4e4;
  color: #4a4a4a;
  font-size: 11px;
  padding: 3px 6px 5px 11px;
  display: inline-block;
}

.ranking{
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  right: 14px;
  bottom: 10px;
}

.card-body{
  padding: 18px 18px 14px 20px;
  display: flex;
  justify-content: space-between;

}

h3{
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.address{
  color: #4a4a4a;
  line-height: 18px;
  font-size: 12px;
  margin: 0;
}

.distance{
  font-size: 12px;
  color: #9b9b9b;
}

.match-percent{
  font-size: 12px;
  margin: 0;
  color: #9b9b9b;
  padding-top: 18px;
}

.color-teal{
  color: #249995;
}

.color-dark{
  color: #4a4a4a;
}

.offer{
  background: #ccf5e7;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  color: #4a4a4a;
  font-size: 12px;
  padding: 9px 21px 7px 20px;
  display: inline-block;
}

.color-link{
  color: #008cff;
  font-weight: bold;
}

/*.hotel-left-section{
  width: 75%;
}*/

.price-section{
  text-align: right;
}

.price-tags{
  display: inline-block;
  margin-left: 10px;
  /*margin-top: 10px;*/
}

.price-tags a{
  float: left;
    position: relative;
    width: auto;
    height: 16px;
    /* margin-left: 18px; */
    padding: 2px 3px 0 8px;
    /* line-height: 30px; */
    background: red;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    text-decoration: none; 
}

.price-tags a:before {
  content: "";
  position: absolute;
  top: 0;   
  width: 0;
  height: 0;    
  border-style: solid;    
}

.price-tags a:after {
    content: "";
    position: absolute;
    top: 8px;
    width: 3px;
    height: 3px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    -moz-box-shadow: -1px -1px 2px #004977;
    -webkit-box-shadow: -1px -1px 2px #004977;
    box-shadow: -1px -1px 2px #004977;
  }

.price-tag a {    
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
  }
 
/* Position left and show only right border of triangle  */
.price-tag a:before {   
    left: -9px;  
    border-color: transparent red transparent transparent;
    border-width: 9px 9px 9px 0;
  }
 
/* Fix the circle between anchor box and triangle left to it  */  
  .price-tag a:after {    
    left: 0px;
  }

  .price-striked{
    color: #232323;
    font-size: 11px;
    display: inline-block;
    vertical-align: text-top;
  }

  .main-price{
    font-size: 24px;
    color: #ea2225;
    font-weight: bold;
    margin: 0;
  }

  .price-detail{
    color: #9b9b9b;
    font-size: 11px;
    margin: 0;
  }

  .facility{
    font-size: 12px;
  }

  .facility:before {
    content: '\2022';
    height: 4px;
    width: 4px;
    padding-right: 4px;
  }

  .facility:first-child:before {
    content: '';
  }

  .facilities{
    /*position: absolute;
    right: 20px;
    bottom: 17px;*/
    padding-right: 20px;
    padding-top: 4px;
    text-align: right;
  }

  .flex{
    display: flex;
    justify-content: space-between;
  }

  .extras{
    margin-bottom: 9px;
  }
